<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title id="indexTitle">AnaVanet Experiment(<: $exp_id :>)</title>
<!--    <meta http-equiv="Pragma" content="no-cache" charset="utf-8"> -->
      <link type="text/css" rel="stylesheet" href="./css/analysis.css">
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDKOxKqLtWWxAJ7s2Akt5oM-Tcg3DHBdA&callback=initMap" type="text/javascript"></script>  
<!-- AIzaSyDDKOxKqLtWWxAJ7s2Akt5oM-Tcg3DHBdA -->
        <script type="text/javascript" src="./js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="./js/jquery-ui-1.8.21.custom.min.js"></script>
        <script type="text/javascript" src="./js/uupaa_sprintf.js"></script>
        <script type="text/javascript" src="./js/flotr2.min.js"></script>
        <script type="text/javascript" src="./js/anavanet.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
        <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
        
        
        <!-- bootstrap -->
        <!-- Le styles -->
        <link href="../css/bootstrap.css" rel="stylesheet" />
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          </style>
        <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
         <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
        
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="../img/favicon-itssv6.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="https://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png" />
        <script type="text/javascript">
          function change(myURI){
            if(myURI !="default"){
              window.document.location.href=myURI;
            }
          }
          </script>
        
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-715097-11']);
          _gaq.push(['_setDomainName', 'anavanet.net']);
          _gaq.push(['_trackPageview']);
          
          (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();
          
          </script>
        </head>
  <body>
    <!-- facebook SDK -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
                appId      : '507826759230275', // App ID
                channelUrl : 'anavanet.net/channel.html', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
                });
        
        // Additional initialization code here
      };
      
      // Load the SDK Asynchronously
      (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
       }(document));
      </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="https://anavanet.net/">AnaVANET</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="../index.html"><i class="icon-home icon-white"></i>Home</a></li>
              <li><a href="../about.html">About</a></li>
              <li><a href="../contributors.html">Contributors</a></li>
              <li  class="active dropdown">
                <a href="../experiments.html" class="dropdown-toggle" data-toggle="dropdown">Experiments<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="../experiments.html">About Experimentations</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Past Experimentations</li>
                  <li><a href="?analysis=1224948202">OLSRv6 (2008)</a></li>
                  <li><a href="?analysis=1264516500">GeoNet project (2010)</a></li>
                  <li><a href="?analysis=1296754401">CarGeo6 version 0.8.2 (2011)</a></li>
                </ul>
              </li>
              <li><a href="../downloads/index.html">Downloads</a></li>
            </ul>
            <a class="btn btn-link" href="https://anavanet.net/"><div class="fb-like" data-href="https://anavanet.net/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div></a>
            <!-- sample modal content -->
            <a href="#help-message" role="button" class="btn pull-right" data-toggle="modal"><strong>?</strong></a>
          </div>
        </div>
      </div>
      <div class="subnav-fixed">
        
        <ul class="nav nav-pills">
          <li><a href="../experiments.html">Experiments</a></li>
          <li><form  class="navbar-form" name="OlsrForm" id="OlsrForm">
            <select class="span2" name="selectOlsr"  id="selectOlsr"
              onchange="change(this.form.selectOlsr.value);">
              <option value="default">OLSRv6 (2008)</option>
              <option value="">---- Distance -----</option>
              <option value="?analysis=1223556315">Distance UDP (Test 1)</option>
              <option value="?analysis=1223558672">Distance UDP (Test 2)</option>
              <option value="?analysis=1223562882">Distance ICMPv6</option>
              <option value="?analysis=1223559457">Distance TCP</option>
              <option value="">---- Static -----</option>
              <option value="?analysis=1223994965">Static UDP (3 nodes)</option>
              <option value="?analysis=1223997750">Static ICMPv6 (3 nodes)</option>
              <option value="?analysis=1224855138">Static ICMPv6 (4 nodes)</option>
              <option value="?analysis=1223996059">Static TCP</option>
              <option value="">---- Urban -----</option>
              <option value="?analysis=1224166583">Urban UDP</option>
              <option value="?analysis=1224858285">Urban ICMPv6</option>
              <option value="?analysis=1224167703">Urban TCP</option>
              <option value="?analysis=1224927948">Passing UDP (3 nodes)</option>
              <option value="?analysis=1224931217">Passing ICMPv6 (3 nodes)</option>
              <option value="?analysis=1224948202">Passing ICMPv6 (4 nodes)</option>
              <option value="?analysis=1224930334">Passing TCP (3 nodes)</option>
              <option value="">---- Highway -----</option>
              <option value="?analysis=1224860084">Highway UDP</option>
              <option value="?analysis=1224861517">Highway ICMPv6</option>
              <option value="?analysis=1224860901">Highway TCP</option>
            </select>
          </form></li>
          <li><form  class="navbar-form" name="geonetForm" id="geonetForm">
            <select class="span2" name="selectGeoNet"  id="selectGeoNet"
              onchange="change(this.form.selectGeoNet.value);">
              <option value="default">GeoNet (2010)</option>
              <option value="">---- Distance -----</option>
              <option value="?analysis=1263993364">Distance UDP</option>
              <option value="?analysis=1263983762">Distance ICMPv6</option>
              <option value="?analysis=1263994147">Distance TCP</option>
              <option value="">---- Static -----</option>
              <option value="?analysis=1264337391">Static ICMPv6</option>
              <option value="?analysis=1264338112">Static UDP</option>
              <option value="">---- Urban -----</option>
              <option value="?analysis=1264433065">Urban ICMPv6 (Test 1)</option>
              <option value="?analysis=1264432206">Urban ICMPv6 (Test 2)</option>
              <option value="?analysis=1264433477">Urban UDP</option>
              <option value="">---- Highway -----</option>
              <option value="?analysis=1264437805">Highway UDP</option>
              <option value="?analysis=1264516500">Highway ICMPv6</option>
              <option value="">---- City (Le Chesnay) -----</option>
              <option value="?analysis=1264436556">City UDP</option>
              <option value="?analysis=1264434547">City ICMPv6</option>
            </select>
          </form></li>
          <li><form  class="navbar-form" name="ItsnetForm" id="ItsnetForm">
            <select class="span2" name="selectItsnet"  id="selectItsnet"
              onchange="change(this.form.selectItsnet.value);">
              <option value="default">CarGeo6 (2011)</option>
              <option value="">---- Handover -----</option>
              <option value="?analysis=1296754401">Handover ICMPv6 (Test 1)</option>
              <option value="?analysis=1296755538">Handover ICMPv6 (Test 2)</option>
              <option value="?analysis=1296759090">Handover UDP</option>
              <option value="">---- RSSI -----</option>
              <option value="?rssi=20120918150814">RSSI heatmap</option>
            </select>
          </form></li>
        </ul>
        <div class="container">
          <ul class="nav nav-pills pull-right">
            <li>
              <div class="btn-group">
                <button class="btn btn-danger" id="backwardBtn"><i class="icon-step-backward icon-white"></i></button>
                <button class="btn btn-danger" id="playBtn"><i class="icon-play icon-white"></i></button>
                <button class="btn btn-danger" id="stopBtn"><i class="icon-pause icon-white"></i></button>
                <button class="btn btn-danger" id="forwardBtn"><i class=" icon-step-forward icon-white"></i></button>
                <button class="btn btn-danger" id="loopBtn"><i class=
                  "icon-repeat icon-white"></i></button>
              </div>
            </li>
            <li>
              <div class="btn-group">
                <button class="btn btn-danger btn-small" data-toggle="dropdown" href="#">
                  <i class="icon-white icon-signal"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="nav-header">Show Graphs</li>
                  <li><label class="checkbox">
                    <input type="checkbox" id="rttBtn" value="option1" > RTT
                      </label>
                  </li>
                  <li><label class="checkbox">
                    <input type="checkbox" id="jitterBtn" value="option1"> Jitter
                      </label>
                  </li>
                  <li><label class="checkbox">
                    <input type="checkbox" id="bandwidthBtn" value="option1"> Bandwidth
                      </label>
                  </li>
                  <li><label class="checkbox">
                    <input type="checkbox" id="reqPDRBtn" value="option1"> Request PDR
                      </label>
                  </li>
                  <li><label class="checkbox">
                    <input type="checkbox" id="repPDRBtn" value="option1">Reply PDR
                      </label>
                  </li>
                </ul>
                <button class="btn btn-danger" id="textStatusBtn"><i class="icon-th-large icon-white"></i></button>
                <button class="btn btn-danger" id="removeAllOverlayBtn"><i class="icon-remove icon-white"></i></button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="infoArea"></div>
    <div id="graphArea"></div>
    <div id="map"></div>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a><span class="label label-inverse" id="exp_type" ><i class="icon-info-sign icon-white"></i></span></a></li>
              <li><a id="exp_explanation"></a></li>
            </ul>
          </div>
          <ul class="nav nav-pills pull-right">
            <li><div class="sliderbar" id="slider"></div></li>
            <li><a id="exp_progress" style="width:20px"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!------------------ Modal -------------->
    <div id="help-message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Usage</h3>
      </div>
      <div class="modal-body">
        <h4>Control</h4>
        <h5>Choose experimental results (Top left)</h5>
        <img src="../figures/top-navbar-left.png" />
        <h5>Control panel (Top right)</h5>
        <img src="../figures/top-navbar-right.png" />
        <h5>Progress slider bar (Bottom)</h5>
        <img src="../figures/bottom-slider-bar.png" />

        <h5>Shotcut keys</h5>
        <dl class="dl-horizontal">
          <dt>Space key</dt>
          <dd>Play / Stop </dd>
          <dt>'n' key</dt>
          <dd>1 step forward</dd>
          <dt>'p' 'key</dt>
          <dd>1 step backward</dd>
          <dt>'x' key</dt>
          <dd>Remove all windows</dd>
          <dt>'?' key</dt>
          <dd>Show this help</dd>
        </dl>
        <hr>
        <h4>Information</h4>
        <!--                <h5>Packet Delivery Ratio (PDR)</h5>-->
        <h5>Chosen Experimental results (Bottom)</h5>
        <img src="../figures/bottom-navbar.png" />
        <h5>Line Colors by Packet Delivery Ratio (PDR)</h5>
        <img src="../figures/line-colors.png" />
        <h5>NEMO status</h5>
        <img src="../figures/nemo-explanation.png" />
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!------------------ Modal -------------->
    
    
    <!-- Le javascript
     ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--    <script src="../js/jquery.js"></script>-->
    <script src="../js/bootstrap-transition.js"></script>
    <script src="../js/bootstrap-alert.js"></script>
    <script src="../js/bootstrap-modal.js"></script>
    <script src="../js/bootstrap-dropdown.js"></script>
    <script src="../js/bootstrap-scrollspy.js"></script>
    <script src="../js/bootstrap-tab.js"></script>
    <script src="../js/bootstrap-tooltip.js"></script>
    <script src="../js/bootstrap-popover.js"></script>
    <script src="../js/bootstrap-button.js"></script>
    <script src="../js/bootstrap-collapse.js"></script>
    <script src="../js/bootstrap-carousel.js"></script>
    <script src="../js/bootstrap-typeahead.js"></script>
    
    
  </body>
</html>
